<h1>Operartis-1A KNN Algorithm</h1>

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
filename = os.path.join(os.getcwd(), "train.csv")
df = pd.read_csv(filename, header=0)

In [4]:
df.head()

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,A_debitOrCredit,A_amount,...,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation,generatorAllocation
0,1287,9/18/13,MANUAL,Jane Doe,0,A,1291.0,9/18/13,NONE,5481.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/11/13_3446886485_600 cc AAB
1,1293,9/18/13,MANUAL,Jane Doe,0,A,1313.0,9/18/13,NONE,"34,233.97",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_211 AAB
2,1293,9/18/13,MANUAL,Jane Doe,0,A,1314.0,9/18/13,NONE,"32,643.27",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_209 AAB
3,1293,9/18/13,MANUAL,Jane Doe,0,A,1315.0,9/18/13,NONE,"36,897.54",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_205 AAB
4,1293,9/18/13,MANUAL,Jane Doe,0,A,1316.0,9/18/13,NONE,"31,444.64",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_202 AAB

In [5]:
df.shape

(223937, 31)

<h2>Splitting the DataFrames into two seprate dataframes one for Transaction A and one for Transaction B</h2>

In [6]:
#List of all columns in the dataframe 
name_of_columns = df.columns.tolist()
print(name_of_columns)

['matchId', 'matchDate', 'matchRule', 'matchedBy', 'wasPreviouslyMismatched', 'generatorArtifactName', 'generatorId', 'generatorImportDate', 'A_debitOrCredit', 'A_amount', 'A_valueDate', 'A_currencyCode', 'A_account', 'A_transactionReferences', 'A_transactionAttributes', 'A_orderingPartyInfo', 'A_receivingPartyInfo', 'generatedArtifactName', 'generatedId', 'generatedImportDate', 'B_debitOrCredit', 'B_amount', 'B_valueDate', 'B_currencyCode', 'B_account', 'B_transactionReferences', 'B_transactionAttributes', 'B_orderingPartyInfo', 'B_receivingPartyInfo', 'targetAllocation', 'generatorAllocation']

In [7]:
df = df[df['targetAllocation'] != 'MULT']
df.head(50)

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,A_debitOrCredit,A_amount,...,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation,generatorAllocation
18,1296,9/18/13,MANUAL,Jane Doe,0,A,1337.0,9/18/13,NONE,"7,184.36",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/6/13_3446205303_936 AAB,USD_9/6/13_3446205303_936 AAB
26,1304,9/18/13,MANUAL,Jane Doe,0,A,1368.0,9/18/13,NONE,"66,875.79",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/16/13_3445812411_1833 AAB,USD_9/16/13_3445812411_1833 AAB
58,1317,9/18/13,MANUAL,Jane Doe,0,A,1418.0,9/18/13,NONE,"68,015.10",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/12/13_3445989615_668 AAB,USD_9/12/13_3445989615_668 AAB
84,1325,9/18/13,MANUAL,Jane Doe,0,A,1461.0,9/18/13,NONE,5555.14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/5/13_3446264408_784 AAB,USD_9/5/13_3446264408_784 AAB
117,1338,9/18/13,MANUAL,Jane Doe,0,A,1519.0,9/18/13,NONE,"46,805.07",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/13/13_3445812411_1832 AAB,USD_9/13/13_3445812411_1832 AAB
129,1344,9/18/13,MANUAL,Jane Doe,0,A,1547.0,9/18/13,NONE,"76,862.53",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/9/13_3445989615_665 AAB,USD_9/9/13_3445989615_665 AAB
130,1345,9/18/13,MANUAL,Jane Doe,0,A,1549.0,9/18/13,NONE,6147.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/3/13_3446886485_rt2 AAB,USD_9/3/13_3446886485_rt2 AAB
188,6456,9/18/13,MANUAL,Jane Doe,0,A,4072.0,9/18/13,NONE,"33,396.22",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/13/13_3445989615_669 AAB,USD_9/13/13_3445989615_669 AAB
190,6470,9/18/13,MANUAL,Jane Doe,0,A,4106.0,9/18/13,NONE,5342.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/3/13_3445996130_299 AAB,USD_9/3/13_3445996130_299 AAB
286,14481,9/18/13,MANUAL,Jane Doe,0,A,9127.0,9/18/13,NONE,"43,181.86",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/4/13_3446853861_222 AAB,USD_9/4/13_3446853861_222 AAB
300,18782,9/18/13,MANUAL,Jane Doe,0,A,11773.0,9/18/13,NONE,5343.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/9/13_3445812518_R05 AAB,USD_9/9/13_3445812518_R05 AAB
345,3,9/20/13,:000001,Jane Doe,0,A,3.0,9/18/13,NONE,"-2,310.84",...,"-2,310.84",9/12/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3446050625_BOA Tra AAA,USD_9/13/13_3446050625_BOA Tra AAA
346,4,9/20/13,:000001,Jane Doe,0,A,4.0,9/18/13,NONE,"-4,518.81",...,"-4,518.81",9/2/13,USD,3.446205e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446205303_BOA Tra AAA,USD_9/6/13_3446205303_BOA Tra AAA
347,5,9/20/13,:000001,Jane Doe,0,A,5.0,9/18/13,NONE,"-1,502.62",...,"-1,502.62",9/5/13,USD,3.446854e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446853861_BOA Tra AAA,USD_9/6/13_3446853861_BOA Tra AAA
348,6,9/20/13,:000001,Jane Doe,0,A,6.0,9/18/13,NONE,5298.47,...,5298.47,9/5/13,USD,9.286037e+08,NaN,868.0,NaN,NaN,USD_9/6/13_928603651_BOA Tra AAA,USD_9/6/13_928603651_BOA Tra AAA
349,8,9/20/13,:000001,Jane Doe,0,A,8.0,10/3/13,NONE,"-134,445.48",...,"-134,445.48",9/19/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3446050638_BOA Tra AAA,USD_9/20/13_3446050638_BOA Tra AAA
350,9,9/20/13,:000001,Jane Doe,0,A,9.0,9/18/13,NONE,"-97,233.23",...,"-97,233.23",9/3/13,USD,3.445990e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3445989573_BOA Tra AAA,USD_9/6/13_3445989573_BOA Tra AAA
351,11,9/20/13,:000001,Jane Doe,0,A,11.0,10/3/13,NONE,"-19,220.15",...,"-19,220.15",9/19/13,USD,3.445813e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3445812518_BOA Tra AAA,USD_9/20/13_3445812518_BOA Tra AAA
352,13,9/20/13,:000001,Jane Doe,0,A,13.0,10/3/13,NONE,4584.61,...,4584.61,9/17/13,USD,3.445812e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3445812260_BOA Tra AAA,USD_9/20/13_3445812260_BOA Tra AAA
353,15,9/20/13,:000001,Jane Doe,0,A,15.0,9/18/13,NONE,"-124,990.52",...,"-124,990.52",9/13/13,USD,3.445812e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3445812476_BOA Tra AAA,USD_9/13/13_3445812476_BOA Tra AAA
354,16,9/20/13,:000001,Jane Doe,0,A,16.0,9/18/13,NONE,"-38,470.59",...,"-38,470.59",9/9/13,USD,3.451567e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3451567420_BOA Tra AAA,USD_9/13/13_3451567420_BOA Tra AAA
355,17,9/20/13,:000001,Jane Doe,0,A,17.0,10/3/13,NONE,"-91,060.88",...,"-91,060.88",9/17/13,USD,3.445812e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3445812411_BOA Tra AAA,USD_9/20/13_3445812411_BOA Tra AAA
356,18,9/20/13,:000001,Jane Doe,0,A,18.0,9/18/13,NONE,"-132,348.79",...,"-132,348.79",9/4/13,USD,3.446264e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446264408_BOA Tra AAA,USD_9/6/13_3446264408_BOA Tra AAA
357,19,9/20/13,:000001,Jane Doe,0,A,19.0,10/3/13,NONE,"-7,208.71",...,"-7,208.71",9/16/13,USD,3.451321e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3451320936_BOA Tra AAA,USD_9/20/13_3451320936_BOA Tra AAA
358,20,9/20/13,:000001,Jane Doe,0,A,20.0,10/3/13,NONE,-731.75,...,-731.75,9/19/13,USD,3.451321e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3451320936_BOA Tra AAA,USD_9/20/13_3451320936_BOA Tra AAA
359,21,9/20/13,:000001,Jane Doe,0,A,21.0,10/3/13,NONE,"-80,843.57",...,"-80,843.57",9/16/13,USD,3.445812e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3445812411_BOA Tra AAA,USD_9/20/13_3445812411_BOA Tra AAA
360,22,9/20/13,:000001,Jane Doe,0,A,22.0,9/18/13,NONE,"-103,315.68",...,"-103,315.68",9/13/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3446050638_BOA Tra AAA,USD_9/13/13_3446050638_BOA Tra AAA
361,25,9/20/13,:000001,Jane Doe,0,A,25.0,9/18/13,NONE,"-7,105.90",...,"-7,105.90",9/3/13,USD,3.451567e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3451567433_BOA Tra AAA,USD_9/6/13_3451567433_BOA Tra AAA
362,27,9/20/13,:000001,Jane Doe,0,A,27.0,9/18/13,NONE,"-7,168.70",...,"-7,168.70",9/11/13,USD,3.451567e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3451567433_BOA Tra AAA,USD_9/13/13_3451567433_BOA Tra AAA
363,28,9/20/13,:000001,Jane Doe,0,A,28.0,9/18/13,NONE,5264.63,...,5264.63,9/4/13,USD,3.446205e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446205303_BOA Tra AAA,USD_9/6/13_3446205303_BOA Tra AAA
364,29,9/20/13,:000001,Jane Doe,0,A,29.0,9/18/13,NONE,"-71,221.40",...,"-71,221.40",9/12/13,USD,3.446264e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3446264408_BOA Tra AAA,USD_9/13/13_3446264408_BOA Tra AAA
365,34,9/20/13,:000001,Jane Doe,0,A,34.0,10/3/13,NONE,"-5,935.63",...,"-5,935.63",9/19/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3446050625_BOA Tra AAA,USD_9/20/13_3446050625_BOA Tra AAA
366,37,9/20/13,:000001,Jane Doe,0,A,37.0,9/18/13,NONE,"-144,705.75",...,"-144,705.75",9/12/13,USD,3.451567e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3451567433_BOA Tra AAA,USD_9/13/13_3451567433_BOA Tra AAA
367,38,9/20/13,:000001,Jane Doe,0,A,38.0,10/3/13,NONE,"-138,309.26",...,"-138,309.26",9/18/13,USD,3.445812e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3445812260_BOA Tra AAA,USD_9/20/13_3445812260_BOA Tra AAA
368,39,9/20/13,:000001,Jane Doe,0,A,39.0,9/18/13,NONE,"-59,211.99",...,"-59,211.99",9/12/13,USD,3.445812e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3445812260_BOA Tra AAA,USD_9/13/13_3445812260_BOA Tra AAA
369,40,9/20/13,:000001,Jane Doe,0,A,40.0,9/18/13,NONE,"-51,010.35",...,"-51,010.35",9/10/13,USD,3.447006e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3447005980_BOA Tra AAA,USD_9/13/13_3447005980_BOA Tra AAA
370,41,9/20/13,:000001,Jane Doe,0,A,41.0,9/18/13,NONE,"2,960.08",...,"2,960.08",9/9/13,USD,3.451567e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3451567433_BOA Tra AAA,USD_9/13/13_3451567433_BOA Tra AAA
371,43,9/20/13,:000001,Jane Doe,0,A,43.0,9/18/13,NONE,"-8,576.53",...,"-8,576.53",9/5/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446050625_BOA Tra AAA,USD_9/6/13_3446050625_BOA Tra AAA
372,45,9/20/13,:000001,Jane Doe,0,A,45.0,9/18/13,NONE,"-13,358.58",...,"-13,358.58",9/6/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446050625_BOA Tra AAA,USD_9/6/13_3446050625_BOA Tra AAA
373,46,9/20/13,:000001,Jane Doe,0,A,46.0,9/18/13,NONE,"-36,872.38",...,"-36,872.38",9/3/13,USD,3.447066e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3447066404_BOA Tra AAA,USD_9/6/13_3447066404_BOA Tra AAA
374,48,9/20/13,:000001,Jane Doe,0,A,48.0,9/18/13,NONE,"-30,741.43",...,"-30,741.43",9/4/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446050638_BOA Tra AAA,USD_9/6/13_3446050638_BOA Tra AAA
375,50,9/20/13,:000001,Jane Doe,0,A,50.0,9/18/13,NONE,"1,563.57",...,"1,563.57",9/2/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446050625_BOA Tra AAA,USD_9/6/13_3446050625_BOA Tra AAA
376,51,9/20/13,:000001,Jane Doe,0,A,51.0,10/3/13,NONE,"-171,544.49",...,"-171,544.49",9/16/13,USD,3.445990e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3445989573_BOA Tra AAA,USD_9/20/13_3445989573_BOA Tra AAA
377,52,9/20/13,:000001,Jane Doe,0,A,52.0,10/3/13,NONE,"-57,909.98",...,"-57,909.98",9/17/13,USD,3.447066e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3447066404_BOA Tra AAA,USD_9/20/13_3447066404_BOA Tra AAA
378,53,9/20/13,:000001,Jane Doe,0,A,53.0,9/18/13,NONE,"-60,759.63",...,"-60,759.63",9/5/13,USD,3.446264e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446264408_BOA Tra AAA,USD_9/6/13_3446264408_BOA Tra AAA
379,54,9/20/13,:000001,Jane Doe,0,A,54.0,10/3/13,NONE,"-199,674.10",...,"-199,674.10",9/17/13,USD,3.445812e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3445812476_BOA Tra AAA,USD_9/20/13_3445812476_BOA Tra AAA
380,55,9/20/13,:000001,Jane Doe,0,A,55.0,9/18/13,NONE,"-156,083.12",...,"-156,083.12",9/10/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3446050638_BOA Tra AAA,USD_9/13/13_3446050638_BOA Tra AAA
381,56,9/20/13,:000001,Jane Doe,0,A,56.0,9/18/13,NONE,"4,303.84",...,"4,303.84",9/4/13,USD,3.446854e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446853861_BOA Tra AAA,USD_9/6/13_3446853861_BOA Tra AAA
382,57,9/20/13,:000001,Jane Doe,0,A,57.0,9/18/13,NONE,"-46,720.42",...,"-46,720.42",9/10/13,USD,3.447066e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3447066404_BOA Tra AAA,USD_9/13/13_3447066404_BOA Tra AAA
383,59,9/20/13,:000001,Jane Doe,0,A,59.0,9/18/13,NONE,"-108,083.07",...,"-108,083.07",9/9/13,USD,3.445996e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3445996130_BOA Tra AAA,USD_9/13/13_3445996130_BOA Tra AAA

In [8]:
columns_A = ['matchId', 'matchDate', 'matchRule', 'matchedBy', 'wasPreviouslyMismatched', 'generatorArtifactName', 'generatorId', 'generatorImportDate', 'A_debitOrCredit', 'A_amount', 'A_valueDate', 'A_currencyCode', 'A_account', 'A_transactionReferences', 'A_transactionAttributes', 'A_orderingPartyInfo', 'A_receivingPartyInfo', 'generatorAllocation']
columns_B = ['matchId', 'matchDate', 'matchRule', 'matchedBy', 'wasPreviouslyMismatched', 'generatorArtifactName', 'generatorId', 'generatorImportDate', 'B_debitOrCredit', 'B_amount', 'B_valueDate', 'B_currencyCode', 'B_account', 'B_transactionReferences', 'B_transactionAttributes', 'B_orderingPartyInfo', 'B_receivingPartyInfo', 'targetAllocation']

In [9]:
df_A = df[columns_A]
df_A.head()

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,A_debitOrCredit,A_amount,A_valueDate,A_currencyCode,A_account,A_transactionReferences,A_transactionAttributes,A_orderingPartyInfo,A_receivingPartyInfo,generatorAllocation
18,1296,9/18/13,MANUAL,Jane Doe,0,A,1337.0,9/18/13,NONE,"7,184.36",9/6/13,USD,3446205303,NaN,936 AAB,NaN,NaN,USD_9/6/13_3446205303_936 AAB
26,1304,9/18/13,MANUAL,Jane Doe,0,A,1368.0,9/18/13,NONE,"66,875.79",9/16/13,USD,3445812411,NaN,1833 AAB,NaN,NaN,USD_9/16/13_3445812411_1833 AAB
58,1317,9/18/13,MANUAL,Jane Doe,0,A,1418.0,9/18/13,NONE,"68,015.10",9/12/13,USD,3445989615,NaN,668 AAB,NaN,NaN,USD_9/12/13_3445989615_668 AAB
84,1325,9/18/13,MANUAL,Jane Doe,0,A,1461.0,9/18/13,NONE,5555.14,9/5/13,USD,3446264408,NaN,784 AAB,NaN,NaN,USD_9/5/13_3446264408_784 AAB
117,1338,9/18/13,MANUAL,Jane Doe,0,A,1519.0,9/18/13,NONE,"46,805.07",9/13/13,USD,3445812411,NaN,1832 AAB,NaN,NaN,USD_9/13/13_3445812411_1832 AAB

In [10]:
df_B = df[columns_B]
df_B.head()

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,B_debitOrCredit,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation
18,1296,9/18/13,MANUAL,Jane Doe,0,A,1337.0,9/18/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/6/13_3446205303_936 AAB
26,1304,9/18/13,MANUAL,Jane Doe,0,A,1368.0,9/18/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/16/13_3445812411_1833 AAB
58,1317,9/18/13,MANUAL,Jane Doe,0,A,1418.0,9/18/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/12/13_3445989615_668 AAB
84,1325,9/18/13,MANUAL,Jane Doe,0,A,1461.0,9/18/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/5/13_3446264408_784 AAB
117,1338,9/18/13,MANUAL,Jane Doe,0,A,1519.0,9/18/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,USD_9/13/13_3445812411_1832 AAB

In [11]:
df_A.shape

(172653, 18)

In [12]:
df_A = df_A[df_A['A_amount'].notna()]

df_A.head()

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,A_debitOrCredit,A_amount,A_valueDate,A_currencyCode,A_account,A_transactionReferences,A_transactionAttributes,A_orderingPartyInfo,A_receivingPartyInfo,generatorAllocation
18,1296,9/18/13,MANUAL,Jane Doe,0,A,1337.0,9/18/13,NONE,"7,184.36",9/6/13,USD,3446205303,NaN,936 AAB,NaN,NaN,USD_9/6/13_3446205303_936 AAB
26,1304,9/18/13,MANUAL,Jane Doe,0,A,1368.0,9/18/13,NONE,"66,875.79",9/16/13,USD,3445812411,NaN,1833 AAB,NaN,NaN,USD_9/16/13_3445812411_1833 AAB
58,1317,9/18/13,MANUAL,Jane Doe,0,A,1418.0,9/18/13,NONE,"68,015.10",9/12/13,USD,3445989615,NaN,668 AAB,NaN,NaN,USD_9/12/13_3445989615_668 AAB
84,1325,9/18/13,MANUAL,Jane Doe,0,A,1461.0,9/18/13,NONE,5555.14,9/5/13,USD,3446264408,NaN,784 AAB,NaN,NaN,USD_9/5/13_3446264408_784 AAB
117,1338,9/18/13,MANUAL,Jane Doe,0,A,1519.0,9/18/13,NONE,"46,805.07",9/13/13,USD,3445812411,NaN,1832 AAB,NaN,NaN,USD_9/13/13_3445812411_1832 AAB

In [13]:
df_B = df_B[df_B['B_amount'].notna()]

df_B.head()

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,B_debitOrCredit,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation
345,3,9/20/13,:000001,Jane Doe,0,A,3.0,9/18/13,NONE,"-2,310.84",9/12/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3446050625_BOA Tra AAA
346,4,9/20/13,:000001,Jane Doe,0,A,4.0,9/18/13,NONE,"-4,518.81",9/2/13,USD,3.446205e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446205303_BOA Tra AAA
347,5,9/20/13,:000001,Jane Doe,0,A,5.0,9/18/13,NONE,"-1,502.62",9/5/13,USD,3.446854e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446853861_BOA Tra AAA
348,6,9/20/13,:000001,Jane Doe,0,A,6.0,9/18/13,NONE,5298.47,9/5/13,USD,9.286037e+08,NaN,868.0,NaN,NaN,USD_9/6/13_928603651_BOA Tra AAA
349,8,9/20/13,:000001,Jane Doe,0,A,8.0,10/3/13,NONE,"-134,445.48",9/19/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3446050638_BOA Tra AAA

In [14]:
print(df_A.shape)
print(df_B.shape)

(162064, 18)
(170196, 18)

#There are more A Transaction info then B transaction information

# Check for duplicates and remove them if they exist.

In [15]:
duplicate_rows_A = df_A[df_A.duplicated()]
duplicate_rows_A

Empty DataFrame
Columns: [matchId, matchDate, matchRule, matchedBy, wasPreviouslyMismatched, generatorArtifactName, generatorId, generatorImportDate, A_debitOrCredit, A_amount, A_valueDate, A_currencyCode, A_account, A_transactionReferences, A_transactionAttributes, A_orderingPartyInfo, A_receivingPartyInfo, generatorAllocation]
Index: []

In [16]:
duplicate_rows_B = df_B[df_B.duplicated()]
duplicate_rows_B

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,B_debitOrCredit,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation
9190,13713,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5529.35,10/11/13,USD,3.445812e+09,NaN,165.0,NaN,NaN,USD_10/11/13_3445812260_403 AAB
10118,19253,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5384.25,10/2/13,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/2/13_3451320936_401 AAB
10123,19253,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5679.74,10/2/13,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/2/13_3451320936_401 AAB
10125,19253,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5384.25,10/2/13,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/2/13_3451320936_401 AAB
10126,19253,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5384.25,10/2/13,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/2/13_3451320936_401 AAB
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212676,2310451,8/27/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,6320.78,8/25/16,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_8/25/16_3451320936_409 AAB
215947,2313575,9/16/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5343.19,9/15/16,USD,3.445812e+09,NaN,399.0,NaN,NaN,USD_8/15/16_3445812260_ICB/Recl AAA
223676,2343699,10/29/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,6176.51,10/28/16,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/28/16_3451320936_413 AAB
223677,2343699,10/29/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,6176.51,10/28/16,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/28/16_3451320936_413 AAB
223678,2343699,10/29/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,6176.51,10/28/16,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/28/16_3451320936_413 AAB

In [17]:
df_B = df_B.drop_duplicates()
duplicate_rows_B = df_B[df_B.duplicated()]
duplicate_rows_B

Empty DataFrame
Columns: [matchId, matchDate, matchRule, matchedBy, wasPreviouslyMismatched, generatorArtifactName, generatorId, generatorImportDate, B_debitOrCredit, B_amount, B_valueDate, B_currencyCode, B_account, B_transactionReferences, B_transactionAttributes, B_orderingPartyInfo, B_receivingPartyInfo, targetAllocation]
Index: []

# Check all B transactions have targetAllocation and all A transactions have generatorAllocation

In [18]:
df_A[df_A['generatorAllocation'].isnull()]

Empty DataFrame
Columns: [matchId, matchDate, matchRule, matchedBy, wasPreviouslyMismatched, generatorArtifactName, generatorId, generatorImportDate, A_debitOrCredit, A_amount, A_valueDate, A_currencyCode, A_account, A_transactionReferences, A_transactionAttributes, A_orderingPartyInfo, A_receivingPartyInfo, generatorAllocation]
Index: []

In [19]:
df_B[df_B['targetAllocation'].isnull()]

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,B_debitOrCredit,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation
3085,6598,9/20/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5377.19,9/5/13,USD,3.445812e+09,NaN,399.0,NaN,NaN,NaN
5190,6598,10/16/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5309.19,8/23/13,USD,3.445812e+09,NaN,695.0,NaN,NaN,NaN
8323,11747,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5309.83,10/11/13,USD,3.445812e+09,NaN,695.0,NaN,NaN,NaN
8324,11747,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5376.55,10/15/13,USD,3.445812e+09,NaN,172.0,NaN,NaN,NaN
9197,13718,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,4864.12,10/18/13,USD,3.445812e+09,NaN,555.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222778,2376068,10/25/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5135.11,10/22/16,USD,4.121359e+09,NaN,555.0,NaN,NaN,NaN
223328,2335957,10/28/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5420.08,10/27/16,USD,4.121359e+09,NaN,165.0,NaN,NaN,NaN
223329,2335957,10/28/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5266.3,10/27/16,USD,4.121359e+09,NaN,455.0,NaN,NaN,NaN
223913,2347324,11/1/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,"4,343.19",10/29/16,USD,3.451567e+09,NaN,699.0,NaN,NaN,NaN
223923,2376068,11/1/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5551.27,10/29/16,USD,4.121359e+09,NaN,301.0,NaN,NaN,NaN

In [20]:
df_B = df_B.dropna(subset=['targetAllocation'])
df_B[df_B['targetAllocation'].isnull()]

Empty DataFrame
Columns: [matchId, matchDate, matchRule, matchedBy, wasPreviouslyMismatched, generatorArtifactName, generatorId, generatorImportDate, B_debitOrCredit, B_amount, B_valueDate, B_currencyCode, B_account, B_transactionReferences, B_transactionAttributes, B_orderingPartyInfo, B_receivingPartyInfo, targetAllocation]
Index: []

<h2> Cleaning and preprocessing the data for Model </h2>

In [21]:
columns_to_checkA = ['A_amount', 'A_valueDate', 'A_account']
columns_to_checkB = ['B_amount', 'B_valueDate', 'B_account']

# Filter rows with 'NONE' in any of the specified columns in dataset A
filtered_rows_A = df_A[df_A[columns_to_checkA].apply(lambda row: 'NONE' in row.values, axis=1)]

# Filter rows with 'NONE' in any of the specified columns in dataset B
filtered_rows_B = df_B[df_B[columns_to_checkB].apply(lambda row: 'NONE' in row.values, axis=1)]

# Count the number of rows containing 'NONE' in each dataset
count_A = len(filtered_rows_A)
count_B = len(filtered_rows_B)

print(f"Number of rows containing 'NONE' in dataset A: {count_A}")
print(f"Number of rows containing 'NONE' in dataset B: {count_B}")

Number of rows containing 'NONE' in dataset A: 10
Number of rows containing 'NONE' in dataset B: 0

In [22]:
#Dropping rows containing none for A
df_A = df_A.drop(filtered_rows_A.index)

In [23]:
# Convert 'A_amount' to float

df_A['A_amount'] = df_A['A_amount'].astype(str)


df_A['A_amount'] = df_A['A_amount'].str.replace(',', '', regex=True)


df_A['A_amount'] = pd.to_numeric(df_A['A_amount'], errors='coerce')

data_type_AmountA = df_A['A_amount'].dtypes

print(data_type_AmountA)

float64

In [24]:
# Convert 'B_amount' to float

df_B['B_amount'] = df_B['B_amount'].astype(str)


df_B['B_amount'] = df_B['B_amount'].str.replace(',', '', regex=True)


df_B['B_amount'] = pd.to_numeric(df_B['B_amount'], errors='coerce')

data_type_AmountB = df_B['B_amount'].dtypes

print(data_type_AmountB)

float64

In [25]:
df_A['A_valueDate'] = pd.to_datetime(df_A['A_valueDate']).astype(int)

data_type_val = df_A['A_valueDate'].dtypes

print(data_type_val)

int64

/tmp/ipykernel_33328/1015823991.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_A['A_valueDate'] = pd.to_datetime(df_A['A_valueDate']).astype(int)

In [26]:
df_B['B_valueDate'] = pd.to_datetime(df_B['B_valueDate']).astype(int)
data_type_valb = df_B['B_valueDate'].dtypes

print(data_type_valb)

int64

/tmp/ipykernel_33328/3639677257.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_B['B_valueDate'] = pd.to_datetime(df_B['B_valueDate']).astype(int)

In [27]:
# Convert 'A_amount' to numeric, handling non-numeric values
df_A['A_account'] = pd.to_numeric(df_A['A_account'], errors='coerce')

data_type_AccountA = df_A['A_account'].dtypes
print(data_type_AccountA)

int64

In [28]:
# Convert 'A_amount' to numeric, handling non-numeric values
df_B['B_account'] = pd.to_numeric(df_B['B_account'], errors='coerce')

data_type_AccountB = df_B['B_account'].dtypes
print(data_type_AccountB)

float64

<h2> Nearest Neighbours Model </h2>

In [29]:
from sklearn.preprocessing import StandardScaler

scaler_A = StandardScaler()
scaler_B = StandardScaler()

data_A_copy = df_A[['A_amount', 'A_account', 'A_valueDate']].copy()
data_B_copy = df_B[['B_amount', 'B_account', 'B_valueDate']].copy()

data_A_scaled = scaler_A.fit_transform(data_A_copy)
data_B_scaled = scaler_B.fit_transform(data_B_copy)

In [30]:
from sklearn.neighbors import KNeighborsClassifier

k = 1  

# Train the KNN model for Transaction A
knn_model_a = KNeighborsClassifier(n_neighbors=k)
knn_model_a.fit(data_A_scaled, df_A['generatorAllocation'])

# Train the KNN model for Transaction B
knn_model_b = KNeighborsClassifier(n_neighbors=k)
knn_model_b.fit(data_B_scaled, df_B['targetAllocation'])

KNeighborsClassifier(n_neighbors=1)

In [31]:
# Preprocess the data for Transaction B using the same scaler as Transaction B
data_B_copy = df_B[['B_amount', 'B_account', 'B_valueDate']].copy()
data_B_scaled = scaler_B.transform(data_B_copy)

# Use the KNN model for Transaction A to find neighbors in Transaction B
neighbors_indices = knn_model_a.kneighbors(data_B_scaled, n_neighbors=1, return_distance=False)

# Create a new Series for targetAllocation in Transaction B
target_allocation_series = df_A['generatorAllocation'].values[neighbors_indices].flatten()

In [33]:
from sklearn.metrics import accuracy_score, classification_report

# Create a new DataFrame with actual and predicted targetAllocation
evaluation_df = pd.DataFrame({
    'Actual': df_B['targetAllocation'],  # Actual targetAllocation in Transaction B
    'Predicted': target_allocation_series  # Predicted targetAllocation from Transaction A
})

# Calculate accuracy
accuracy = accuracy_score(evaluation_df['Actual'], evaluation_df['Predicted'])

print(f"Accuracy: {accuracy}")

Accuracy: 0.3135406551242273