Operartis-1A KNN Algorithm

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
filename = os.path.join(os.getcwd(), "train.csv")
df = pd.read_csv(filename, header=0)

In [5]:
df.head()

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,A_debitOrCredit,A_amount,...,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation,generatorAllocation
0,1287,9/18/13,MANUAL,Jane Doe,0,A,1291.0,9/18/13,NONE,5481.21,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/11/13_3446886485_600 cc AAB
1,1293,9/18/13,MANUAL,Jane Doe,0,A,1313.0,9/18/13,NONE,"34,233.97",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_211 AAB
2,1293,9/18/13,MANUAL,Jane Doe,0,A,1314.0,9/18/13,NONE,"32,643.27",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_209 AAB
3,1293,9/18/13,MANUAL,Jane Doe,0,A,1315.0,9/18/13,NONE,"36,897.54",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_205 AAB
4,1293,9/18/13,MANUAL,Jane Doe,0,A,1316.0,9/18/13,NONE,"31,444.64",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_202 AAB

In [6]:
df.shape

(223937, 31)

Splitting the DataFrames into two seprate dataframes one for Transaction A and one for Transaction B

In [7]:
#List of all columns in the dataframe 
name_of_columns = df.columns.tolist()
print(name_of_columns)

['matchId', 'matchDate', 'matchRule', 'matchedBy', 'wasPreviouslyMismatched', 'generatorArtifactName', 'generatorId', 'generatorImportDate', 'A_debitOrCredit', 'A_amount', 'A_valueDate', 'A_currencyCode', 'A_account', 'A_transactionReferences', 'A_transactionAttributes', 'A_orderingPartyInfo', 'A_receivingPartyInfo', 'generatedArtifactName', 'generatedId', 'generatedImportDate', 'B_debitOrCredit', 'B_amount', 'B_valueDate', 'B_currencyCode', 'B_account', 'B_transactionReferences', 'B_transactionAttributes', 'B_orderingPartyInfo', 'B_receivingPartyInfo', 'targetAllocation', 'generatorAllocation']

In [9]:
columns_A = ['matchId', 'matchDate', 'matchRule', 'matchedBy', 'wasPreviouslyMismatched', 'generatorArtifactName', 'generatorId', 'generatorImportDate', 'A_debitOrCredit', 'A_amount', 'A_valueDate', 'A_currencyCode', 'A_account', 'A_transactionReferences', 'A_transactionAttributes', 'A_orderingPartyInfo', 'A_receivingPartyInfo', 'targetAllocation', 'generatorAllocation']
columns_B = ['matchId', 'matchDate', 'matchRule', 'matchedBy', 'wasPreviouslyMismatched', 'generatorArtifactName', 'generatorId', 'generatorImportDate', 'B_debitOrCredit', 'B_amount', 'B_valueDate', 'B_currencyCode', 'B_account', 'B_transactionReferences', 'B_transactionAttributes', 'B_orderingPartyInfo', 'B_receivingPartyInfo', 'targetAllocation', 'generatorAllocation']

In [10]:
df_A = df[columns_A]
df_A.head()

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,A_debitOrCredit,A_amount,A_valueDate,A_currencyCode,A_account,A_transactionReferences,A_transactionAttributes,A_orderingPartyInfo,A_receivingPartyInfo,targetAllocation,generatorAllocation
0,1287,9/18/13,MANUAL,Jane Doe,0,A,1291.0,9/18/13,NONE,5481.21,9/11/13,USD,3446886485,NaN,600 cc AAB,NaN,NaN,MULT,USD_9/11/13_3446886485_600 cc AAB
1,1293,9/18/13,MANUAL,Jane Doe,0,A,1313.0,9/18/13,NONE,"34,233.97",9/17/13,USD,3445996130,NaN,211 AAB,NaN,NaN,MULT,USD_9/17/13_3445996130_211 AAB
2,1293,9/18/13,MANUAL,Jane Doe,0,A,1314.0,9/18/13,NONE,"32,643.27",9/17/13,USD,3445996130,NaN,209 AAB,NaN,NaN,MULT,USD_9/17/13_3445996130_209 AAB
3,1293,9/18/13,MANUAL,Jane Doe,0,A,1315.0,9/18/13,NONE,"36,897.54",9/17/13,USD,3445996130,NaN,205 AAB,NaN,NaN,MULT,USD_9/17/13_3445996130_205 AAB
4,1293,9/18/13,MANUAL,Jane Doe,0,A,1316.0,9/18/13,NONE,"31,444.64",9/17/13,USD,3445996130,NaN,202 AAB,NaN,NaN,MULT,USD_9/17/13_3445996130_202 AAB

In [11]:
df_B = df[columns_B]
df_B.head()

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,B_debitOrCredit,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation,generatorAllocation
0,1287,9/18/13,MANUAL,Jane Doe,0,A,1291.0,9/18/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/11/13_3446886485_600 cc AAB
1,1293,9/18/13,MANUAL,Jane Doe,0,A,1313.0,9/18/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_211 AAB
2,1293,9/18/13,MANUAL,Jane Doe,0,A,1314.0,9/18/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_209 AAB
3,1293,9/18/13,MANUAL,Jane Doe,0,A,1315.0,9/18/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_205 AAB
4,1293,9/18/13,MANUAL,Jane Doe,0,A,1316.0,9/18/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MULT,USD_9/17/13_3445996130_202 AAB

In [12]:
df_A.shape

(223937, 19)

In [13]:
df_A = df_A[df_A['A_amount'].notna()]

df_A.head()

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,A_debitOrCredit,A_amount,A_valueDate,A_currencyCode,A_account,A_transactionReferences,A_transactionAttributes,A_orderingPartyInfo,A_receivingPartyInfo,targetAllocation,generatorAllocation
0,1287,9/18/13,MANUAL,Jane Doe,0,A,1291.0,9/18/13,NONE,5481.21,9/11/13,USD,3446886485,NaN,600 cc AAB,NaN,NaN,MULT,USD_9/11/13_3446886485_600 cc AAB
1,1293,9/18/13,MANUAL,Jane Doe,0,A,1313.0,9/18/13,NONE,"34,233.97",9/17/13,USD,3445996130,NaN,211 AAB,NaN,NaN,MULT,USD_9/17/13_3445996130_211 AAB
2,1293,9/18/13,MANUAL,Jane Doe,0,A,1314.0,9/18/13,NONE,"32,643.27",9/17/13,USD,3445996130,NaN,209 AAB,NaN,NaN,MULT,USD_9/17/13_3445996130_209 AAB
3,1293,9/18/13,MANUAL,Jane Doe,0,A,1315.0,9/18/13,NONE,"36,897.54",9/17/13,USD,3445996130,NaN,205 AAB,NaN,NaN,MULT,USD_9/17/13_3445996130_205 AAB
4,1293,9/18/13,MANUAL,Jane Doe,0,A,1316.0,9/18/13,NONE,"31,444.64",9/17/13,USD,3445996130,NaN,202 AAB,NaN,NaN,MULT,USD_9/17/13_3445996130_202 AAB

In [14]:
df_B = df_B[df_B['B_amount'].notna()]

df_B.head()

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,B_debitOrCredit,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation,generatorAllocation
345,3,9/20/13,:000001,Jane Doe,0,A,3.0,9/18/13,NONE,"-2,310.84",9/12/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/13/13_3446050625_BOA Tra AAA,USD_9/13/13_3446050625_BOA Tra AAA
346,4,9/20/13,:000001,Jane Doe,0,A,4.0,9/18/13,NONE,"-4,518.81",9/2/13,USD,3.446205e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446205303_BOA Tra AAA,USD_9/6/13_3446205303_BOA Tra AAA
347,5,9/20/13,:000001,Jane Doe,0,A,5.0,9/18/13,NONE,"-1,502.62",9/5/13,USD,3.446854e+09,NaN,868.0,NaN,NaN,USD_9/6/13_3446853861_BOA Tra AAA,USD_9/6/13_3446853861_BOA Tra AAA
348,6,9/20/13,:000001,Jane Doe,0,A,6.0,9/18/13,NONE,5298.47,9/5/13,USD,9.286037e+08,NaN,868.0,NaN,NaN,USD_9/6/13_928603651_BOA Tra AAA,USD_9/6/13_928603651_BOA Tra AAA
349,8,9/20/13,:000001,Jane Doe,0,A,8.0,10/3/13,NONE,"-134,445.48",9/19/13,USD,3.446051e+09,NaN,868.0,NaN,NaN,USD_9/20/13_3446050638_BOA Tra AAA,USD_9/20/13_3446050638_BOA Tra AAA

In [15]:
print(df_A.shape)
print(df_B.shape)

(211744, 19)
(190717, 19)

#There are more A Transaction info then B transaction information

# Check for duplicates and remove them if they exist.

In [16]:
duplicate_rows_A = df_A[df_A.duplicated()]
duplicate_rows_A

Empty DataFrame
Columns: [matchId, matchDate, matchRule, matchedBy, wasPreviouslyMismatched, generatorArtifactName, generatorId, generatorImportDate, A_debitOrCredit, A_amount, A_valueDate, A_currencyCode, A_account, A_transactionReferences, A_transactionAttributes, A_orderingPartyInfo, A_receivingPartyInfo, targetAllocation, generatorAllocation]
Index: []

In [17]:
duplicate_rows_B = df_B[df_B.duplicated()]
duplicate_rows_B

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,B_debitOrCredit,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation,generatorAllocation
3759,7299,9/23/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5353.19,9/20/13,USD,3.451567e+09,NaN,301.0,NaN,NaN,MULT,NaN
3765,7299,9/23/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5353.19,9/20/13,USD,3.451567e+09,NaN,301.0,NaN,NaN,MULT,NaN
9190,13713,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5529.35,10/11/13,USD,3.445812e+09,NaN,165.0,NaN,NaN,USD_10/11/13_3445812260_403 AAB,NaN
10118,19253,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5384.25,10/2/13,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/2/13_3451320936_401 AAB,NaN
10123,19253,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5679.74,10/2/13,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/2/13_3451320936_401 AAB,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212676,2310451,8/27/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,6320.78,8/25/16,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_8/25/16_3451320936_409 AAB,NaN
215947,2313575,9/16/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5343.19,9/15/16,USD,3.445812e+09,NaN,399.0,NaN,NaN,USD_8/15/16_3445812260_ICB/Recl AAA,NaN
223676,2343699,10/29/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,6176.51,10/28/16,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/28/16_3451320936_413 AAB,NaN
223677,2343699,10/29/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,6176.51,10/28/16,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/28/16_3451320936_413 AAB,NaN
223678,2343699,10/29/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,6176.51,10/28/16,USD,3.451321e+09,NaN,165.0,NaN,NaN,USD_10/28/16_3451320936_413 AAB,NaN

In [18]:
df_B = df_B.drop_duplicates()
duplicate_rows_B = df_B[df_B.duplicated()]
duplicate_rows_B

Empty DataFrame
Columns: [matchId, matchDate, matchRule, matchedBy, wasPreviouslyMismatched, generatorArtifactName, generatorId, generatorImportDate, B_debitOrCredit, B_amount, B_valueDate, B_currencyCode, B_account, B_transactionReferences, B_transactionAttributes, B_orderingPartyInfo, B_receivingPartyInfo, targetAllocation, generatorAllocation]
Index: []

# Check all B transactions have targetAllocation and all A transactions have generatorAllocation

In [21]:
df_A[df_A['generatorAllocation'].isnull()]

Empty DataFrame
Columns: [matchId, matchDate, matchRule, matchedBy, wasPreviouslyMismatched, generatorArtifactName, generatorId, generatorImportDate, A_debitOrCredit, A_amount, A_valueDate, A_currencyCode, A_account, A_transactionReferences, A_transactionAttributes, A_orderingPartyInfo, A_receivingPartyInfo, targetAllocation, generatorAllocation]
Index: []

In [22]:
df_B[df_B['targetAllocation'].isnull()]

,matchId,matchDate,matchRule,matchedBy,wasPreviouslyMismatched,generatorArtifactName,generatorId,generatorImportDate,B_debitOrCredit,B_amount,B_valueDate,B_currencyCode,B_account,B_transactionReferences,B_transactionAttributes,B_orderingPartyInfo,B_receivingPartyInfo,targetAllocation,generatorAllocation
3085,6598,9/20/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5377.19,9/5/13,USD,3.445812e+09,NaN,399.0,NaN,NaN,NaN,NaN
5190,6598,10/16/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5309.19,8/23/13,USD,3.445812e+09,NaN,695.0,NaN,NaN,NaN,NaN
8323,11747,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5309.83,10/11/13,USD,3.445812e+09,NaN,695.0,NaN,NaN,NaN,NaN
8324,11747,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5376.55,10/15/13,USD,3.445812e+09,NaN,172.0,NaN,NaN,NaN,NaN
9197,13718,10/28/13,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,4864.12,10/18/13,USD,3.445812e+09,NaN,555.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222778,2376068,10/25/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5135.11,10/22/16,USD,4.121359e+09,NaN,555.0,NaN,NaN,NaN,NaN
223328,2335957,10/28/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5420.08,10/27/16,USD,4.121359e+09,NaN,165.0,NaN,NaN,NaN,NaN
223329,2335957,10/28/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5266.3,10/27/16,USD,4.121359e+09,NaN,455.0,NaN,NaN,NaN,NaN
223913,2347324,11/1/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,"4,343.19",10/29/16,USD,3.451567e+09,NaN,699.0,NaN,NaN,NaN,NaN
223923,2376068,11/1/16,MANUAL,Jane Doe,0,NaN,NaN,NaN,NONE,5551.27,10/29/16,USD,4.121359e+09,NaN,301.0,NaN,NaN,NaN,NaN

In [23]:
df_B = df_B.dropna(subset=['targetAllocation'])
df_B[df_B['targetAllocation'].isnull()]

Empty DataFrame
Columns: [matchId, matchDate, matchRule, matchedBy, wasPreviouslyMismatched, generatorArtifactName, generatorId, generatorImportDate, B_debitOrCredit, B_amount, B_valueDate, B_currencyCode, B_account, B_transactionReferences, B_transactionAttributes, B_orderingPartyInfo, B_receivingPartyInfo, targetAllocation, generatorAllocation]
Index: []